PyMuPDF
PyYAML
huggingface_hub
ipykernel
langchain
langchain-huggingface
langchain-together
langchain_community
langchain_pinecone
hatch
cohere
numpy
openai
pinecone-client
pydantic
pydantic-settings
python-box
python-dotenv
python-json-logger
sentence-transformers
streamlit==1.45.0
tiktoken
together
